@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,100&display=swap');

* {
    font-family: 'Poppins', scans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}

/* creating veriables */
:root {}

body {
    display: flex;
    background: #162938;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;

}

/*******Headers and Nav Bar Design********/
header {
    background: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    margin-bottom: 900px;
}

.logo {
    font-size: 3rem;
    color: rgb(233, 17, 17);
    border: #162938;
    text-decoration: solid;
    border-width: 2px;
    none:
}

.navigation {
    display: flex;
    justify-content: center;

}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin-left: 40px;
    list-style: none;

}

.btnLogin-popup {
    width: 130px;
    height: 50px;
    background: rgb(228, 22, 15);
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    margin-left: 40px;
    transition: .5s;
}

.btnLogin-popup:hover {
    background: #162938;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 70px;
    height: 3px;
    background: #dd0a0a;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.4s all linear;
}

.navigation a:hover::after {
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}



.navigation .user a:hover {
    background-color: black;
    color: teal;
}

.navigation .user i {
    font-size: 20px;
    margin-right: 10px;
}

.navigation .user h4 {
    border-radius: 40px;
    background: teal;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 40px;
}

.navigation .user i {
    padding: 0px 14px;
}

.navigation .user h4:hover {
    color: teal;
    background: black;
}

/* Section for slider and body deco */

.section {
    padding: 4.5rem 0 1.5rem;
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7, 0.4);
}

.container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    image-rendering: blur(40px);
}

span {
    color: rgb(219, 241, 241);
    font-weight: bold;
    font-weight: 500;
    text-transform: uppercase;

}

.line1 {
    height: 2px;
    background-color: rgb(18, 241, 241);
    width: 30%;
    margin-left: 0px;
    margin-top: 0px;

}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    z-index: 1000;
    padding: 0 150px;
}

.home-text h1 {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(191, 228, 119);
}

.home-text .btn1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    gap: 1rem;
}

.home-text .btn1 a {
    background-color: teal;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
}

.home-text .btn1 a:hover {
    background: black;
    color: teal;
}

.home-text .btn1 ion-icon {
    font-size: 2rem;
    padding: 0px 10px;
}

.container .btn1 i:hover {
    color: white;
}

.home-text .play {
    display: flex;
}

.movie-heading {
    max-width: 968px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: solid 1.2rem;
    font-family: 'Poppins', scans-serif, 'Gill Sans';
    font-weight: 500;
    height: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    color: #fff;
}

.movie-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
    color: black;
}

.box .box-img {
    width: 100%;
    height: 270px;
}

.box .box-img img {
    width: 100%;
    object-fit: cover;
}

h3 {
    color: #fff;
}

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    font-size: 13px;
}

footer{
    background: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    backdrop-filter: blur(15px);
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    z-index: 99;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    gap: 2rem;
}

.footer-container a {
    text-decoration: none;
}

.footer-container li a:hover {
    color: rgba(214, 7, 7, 0.877);
    font-weight: bolder;
}

.footer-container .social{
    display: list-item;
    justify-content: center;
}

.footer-container .social-icon {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}
.footer-container .social-icon li{
    font-size: 1.5rem;
}

.footer-container .social-icon li:hover{
    color: rgba(214, 7, 7, 0.877);
    font-weight: bolder;
}

.footer-container .download {

}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
}